.user-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 18px 18px;
    width: auto;
    margin-left: calc(var(--sidebar-width) + 60px);
    padding-top: 20px;
}
