.user-list-wrapper {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    min-width: 420px;
    margin-left: calc(var(--sidebar-width) - 100px);
    padding-top: 20px;
    
}
.user-card-list{
    display: flex;
    width: 720px;
    flex-direction: row;
    gap: 18px 18px;
    justify-content: center;
    flex-wrap: wrap;
}
