.wrapper{
    margin-left: var(--sidebar-width);
    padding: 32px 24px;
    color: var(--text-color);
}
.div-header{
    display: flex;
    margin-bottom: 20px;
}
.user-info{
    margin-bottom: 20px;
    width: auto;
    max-width: 100%;
}
.user-names{
    margin-left: 20px;
}
.user-avatar{
    width: 116px;
    height: 116px;
    border-radius: 50%;
    object-fit: cover;
}
.username{
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 38px;
    margin-bottom: 4px;
    overflow: hidden;
    text-align: left;
}
.name{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
    height: 25px;
}
.follow-btn{
    font-family: var(--secondary-font-family);
    margin-top: 16px;
}
.edit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding: unset;
    width: 136px;
    height: 36px;
    font-family: var(--secondary-font-family);
}
.edit-btn-content{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    display: flex;
    text-align: center;
}
.edit-icon{
    margin-right: 6px;
}
.count-info{
    display: flex;
    margin-top: 22px;
    column-gap: 20px;
}
.div-count{
    font-family: var(--secondary-font-family);
    font-weight: 600;
    font-size: 1.8rem;
}
.count-label{
    margin-left: 6px;
    font-family: var(--font-family);
    color: var(--text-color-secondary);
    line-height: 22px;
    font-weight: 400;
    font-size: 1.6rem;
    
}
.bio{
    margin-top: 10px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
    white-space: pre-line;
}
.video-feed-tab{
    display: flex;
    position: relative;
    font-family: var(--secondary-font-family);
    width: 100%;
    border-bottom: 1px solid var(--lines-color);
    
}
.video-feed-tab > *{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 230px;
    color: var(--text-color-tertiary);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    cursor: pointer;
}
.lock-icon{
    transform: translateY(2px);
}
.liked-label p{
    margin-left: 6px;
}
.bottom-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 230px;
    height: 2px;;
    background-color: var(--text-color);
    transition: transform 0.3s ease 0s;
}
//animation
.liked-label > *, .video-label > *{
    pointer-events: none;
}
.video-label:hover ~ .bottom-line{
    transform: translateX(0);
}
.liked-label:hover ~ .bottom-line{
    transform: translateX(230px);
}
.active{
    color: var(--text-color);
    
}
.liked-bottom-active ~ .bottom-line{
    transform: translateX(230px);
}

.tab-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 490px;
    
}
.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.user-icon{
    margin-bottom: 24px;
    fill-opacity: 0.34
}
.title-error{
    font-family: var(--secondary-font-family);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 28px;
}
.error-desc{
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 400;
    color: var(--text-color-secondary);
}