.light {
    --classic-background: #fff;
}
.dark {
    --classic-background: rgba(255, 255, 255, 0.08);
}

.wrapper {
    padding: 9px 16px;
    min-width: 106px;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    font-family: var(--font-family);
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}

//buttin types
.primary {
    background-color: var(--primary);
    color: white !important;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    padding: 8px 0;
    color: var(--primary) !important;
    border: 1px solid currentColor;
    border-radius: 4px;
    background-color: var(--classic-background);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.classic {
    padding: 8px 17px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--classic-background);
    &:hover {
        background-color: var(--field-background-hover);
    }
}

//button sizes
.small {
    min-width: 88px;
    padding: 5px 16px;
    font-weight: 600;
}

.large {
    min-width: 164px;
    height: 37px;
    padding: 6px 8px;
    font-size: 1.8rem;
    line-height: 2.5rem;
}
